<div class="header">
  <h1>Hello, {{ title }}</h1>
  <p>Congratulations! Your app is running. </p>
</div>

<nav>
  <ul>
    <li><a routerLink="/app-test01" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Test Component 01</a></li>
    <li><a routerLink="/app-test02" routerLinkActive="active" ariaCurrentWhenActive="page">Test Component 02</a></li>
    <li><a routerLink="/app-test03" routerLinkActive="active" ariaCurrentWhenActive="page">Test Component 03</a></li>
  </ul>
</nav> 



<div class="content">
  <router-outlet></router-outlet>
</div>
